<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body >
    <div>
        <h2>Your name:</h2>
        <input type="text" id="name">
        <br>
        <h2>Emergency contact number:</h2>
        <input type="number" id="contact">
        <br>
    </div>
    <button id="save" type="submit" class="btn btn-info">Save</button>
    <script src="static/config.js"></script>
</body>
