<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 align="center"> Settings </h1>
    <div>
        <p>Your name:</p>
        <input type="text" id="name">
        <br>
        <p>Emergency contact number:</p>
        <input type="number" id="contact">
        <br>
    </div>
    <button id="save" type="submit" class="btn btn-info">Save</button>
    <script src="static/config.js"></script>
</body>
