<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watchdog Settings</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
  <link rel="shortcut icon" href="static/watchdog.ico"/>
  <link rel="icon" type="image/png" href="static/watchdog.png"/>
</head>
<body>
  <div class="container">
    <h1>Settings</h1>
    <div>
      <p>
	Please specify the settings for your Watchdog Pebble App.
      </p>

      <div class="form-group">
	<div class="form-group">
          <label class="control-label" for="name">Your name:</label>
	  <input class="form-control" type="text" id="name">
	</div>

	<div class="form-group">
	  <label class="control-label" for="name">Emergency contact number:</label>
          <input id="contact" type="number" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd">
        </div>

        <div class="form-group">
            <label class="control-label" for="name">Seconds of vibration before distress message is sent:</label>
            <form>
                <input id="slider" type="range" name="sliderRange" min="1" max="20" step="1" value="10" oninput="this.form.sliderInput.value=this.value" />
                <input type="number" name="sliderInput" min="1" max="20" step="1" value="10" oninput="this.form.sliderRange.value=this.value"/>
            </form>
        </div>

        <label><input type="checkbox"> Automatically contact emergency services as well</label>
      </div>

	<button id="save" type="submit" class="btn btn-primary btn-lg" style="display: block; width: 100%;">Save</button>
      </div>
      <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
    </div>
  </div>
  <script src="static/config.js"></script>
</body>
