<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watchdog Settings</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style-home.css">
  <link rel="shortcut icon" href="static/watchdog.ico"/>
  <link rel="icon" type="image/png" href="static/watchdog.png"/>
</head>
<body>
  <div class="container main-container">
    <div class="container-fluid container-full">
      <div class="row">
	<div class="col-lg-12 text-center v-center">
          <h1>Watchdog</h1>
          <h2 class="lead" style="color:black;">Stay independent and live without fear</h2>
	</div>
      </div>
      <br>
      <br>

      <div class="row equal">
	<div class="col-md-4">
	  <div style="text-align:center" class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title text-center">Forget medical devices.</h1>
            </div>
            <div class="panel-body">
              <p class="text-left lead2">The first thing you do every morning shouldn't be putting a reminder of your mortality around your neck.  Watchdog is a app for the Pebble smartwatch, a modern and featureful version of a familiar, time-honored accessory. Keep up with the Joneses and outlive them, too.</p>
            </div>
	  </div>
	</div>
	<div class="row equal">
	  <div class="col-md-4">
	    <div style="text-align:center" class="panel panel-primary">
              <div class="panel-heading">
		<h1 class="panel-title text-center">Growing old happens to everyone,</h1>
              </div>
              <div class="panel-body">
		<p class="text-left lead2">but that doesn't mean you have to lose your independence. Watchdog lets you live without being afraid that a bad fall could be the last one you have. When Watchdog detects potential trauma, your watch will begin "barking" for an amount of time you specify.  If you can't turn it off, your trusted contacts will be notified that you need help and also where you need it. If you're suddenly incapicitated by a stroke or fall, you can be sure that you'll get the timely help you need.</p>
              </div>
	    </div>
	  </div>
	  <div class="row equal">
	    <div class="col-md-3">
	      <div style="text-align:center" class="panel panel-primary">
		<div class="panel-heading">
		  <h1 class="panel-title text-center">As loyal as any dog in the world</h1>
		</div>
		<div class="panel-body">
		  <p class="text-left lead2">Watchdog's vigilance combined with the ruggedness of Pebble lets you be sure that you won't find yourself fighting for life alone. As long as Watchdog is with you, your loved ones will never be too far away.</p>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</body>
